/* *{
    border: 1px dashed black;
} */


.Form{
    position: absolute;
    bottom: 0;
}

.Main{
    position: relative;
    height: 80vh;
}

ol{
    height: 54vh;
    overflow-y: scroll;
}
li{
    font-size: 20px;
    border-bottom: 1px solid grey;
}